<div class="box">
  <h1>Filter</h1>
  <ul class="filter-list small">
    <% liquors.forEach(function (liquor){ %>
      <li><a href="javascript:void(0);" <%= target===liquor ? "class=bolded" : "" %>><%= liquor %></a></li>
    <% }); %>
  </ul>
  <p><a class="subtext" href="javascript:void(0);">Show all</a></p>
</div>
<div class="box">
  <h1>Browse</h1>
  <ul>
    <% bars.forEach(function (bar){ %>
      <li><a href="#browse/bar/<%= bar %>" <%= bar===category ? "class=bolded" : "" %>><%= bar %></a></li>
    <% }); %>
  </ul>
  <p><a class="subtext" href="#browse/liquor/switch">Browse by liquor</a></p>
</div>
