
<li title="<%= cocktail.get('name') %> @ <%= cocktail.bar().name %>" <%= standalone ? "class='standalone'" : "" %> >
  <a href="#cocktails/<%= cocktail.id %>#header">
  <% if(cocktail.id && cocktail.get('cocktailPic') !== 'placeholder.png'){ %>
    <% if(cocktail.get('cocktailPic').indexOf('queensparkswizzle') > -1){ %>
      <img src="https://s3.amazonaws.com/cocktailist-pro/cocktails/imgs/000/000/008/small/queensparkswizzle.jpg" alt="<%= cocktail.get('name') %> <%= cocktail.get('bar') %>">
    <% } else { %>
      <img src="<%= cocktail.get('cocktailPic') %>" alt="<%= cocktail.get('name') %> <%= cocktail.get('bar') %>">
    <% }; %>
  <% } else { %>
    <img src="https://s3.amazonaws.com/cocktailist-pro/cocktails/imgs/placeholder.png" alt="<%= cocktail.get('name') %> <%= cocktail.get('bar') %>">
  <% }; %>
  </a>
</li>
