<div class="box">
  <h1><%= bar.name %></h1>
  <h3><%= bar.address %></h3>
  <p><a href="#browse/bar/<%= escape(bar.name) %>">Browse their other offerings</a></p>
</div>
<% if(similarCocktail && similarCocktail !== "N/A"){ %>
<div class="box">
  <h1>Similar</h1>
    <ul class="category-show-list clearfix">
      <%= JST['cocktails/_categoryShowItem']({cocktail: similarCocktail, standalone: true}) %>
    </ul>
    <p><a href="#browse/liquor/<%= similarCocktail.escape('liquor') %>">Browse <%= similarCocktail.escape('liquor') %> drinks</a></p>
</div>
<% }; %>
<div class="box">
  <p>Notice something wrong? <a href="#cocktails/edit/<%= cId %>">Edit entry.</a></p>
</div>
