<div class="box">
  <h1><%= entry.isNew() ? "Add" : "Edit" %> Cocktail Entry</h1>
  <form class="cocktailForm">
    <label for="cName">Name</label>
    <input type="text" value="<%= entry.name %>" name="cocktail[name]" id="cName">
    <label for="liquor">Liquor</label>
    <select name="cocktail[liquor]">
      <% entry.LIQUORS.each( function (liquor){ %>
        <option value="<%= liquor.toLowerCase() %>"><%= liquor %></option>
      <% }); %>
    </select>

    <!-- <input type="text" value="<%= entry.liquor %>" name="cocktail[liquor]" id="liquor"> -->
    <label for="ingredients">Ingredients</label>
    <input type="text" value="<%= entry.ingredients %>" name="cocktail[ingredients]" id="ingredients">
    <button class="submit">Save</button>
  </form>
</div>
