<div class="box">
  <h1><%= entry.isNew() ? "Add" : "Edit" %> Cocktail Entry</h1>
  <form class="cocktailForm">
    <label for="cName">Name</label>
    <input type="text" value="<%= entry.escape('name') %>" name="cocktail[name]" id="cName">

    <label for="liquor">Liquor</label>
    <a class="toggle-liquor" href="javascript:void(0);">or add new</a>
    <select class="toggle-liquor" name="cocktail[liquor]">
      <option value=""></option>
      <% liquorTypes.forEach( function (liquor){ %>
        <option value="<%= liquor %>" <%= entry.get('liquor')===liquor ? "selected" : "" %> ><%= liquor %></option>
      <% }); %>
    </select>
    <input class="toggle-liquor" type="text" placeholder="add new liquor" id="liquor">

    <label for="ingredients">Ingredients</label>
    <input type="text" value="<%= entry.escape('ingredients') %>" name="cocktail[ingredients]" id="ingredients">

    <label for="bar">Bar</label>
    <a class="toggle-bar" href="javascript:void(0);">or add new</a>
    <select class="toggle-bar" name="cocktail[bar_name]">
      <option value=""></option>
        <% bars.forEach ( function (barName){ %>
        <option value="<%= barName %>"  <%= entry.bar().name===barName ? "selected" : "" %>><%= barName %></option>
      <% }); %>
    </select>
    <input class="toggle-bar" type="text" placeholder="add new bar: name" id="bar">
    <input class="toggle-bar" type="text" placeholder="add new bar: address">

    <a href="javascript: void(0);" class="remove-img"><img src="<%= entry.get('cocktailPic')!== 'placeholder.png' ? entry.get('cocktailPic') : "" %>" id="image-preview"></a>
    <label for="image">Image (if any)</label>
      <input type="file" name="cocktail[img]" id="attach-image">

    <ul id="errors"></ul>
    <button class="submit">Save</button>
  </form>
</div>
