<div class="box">
  <h1><%= entry.isNew() ? "Add" : "Edit" %> Cocktail Entry</h1>
  <form class="cocktailForm">
    <label for="cName">Name</label>
    <input type="text" value="<%= entry.escape('name') %>" name="cocktail[name]" id="cName">

    <label for="liquor">Liquor</label>
    <a class="toggle-liquor" href="javascript:void(0);">or add new</a>
    <select class="toggle-liquor" name="cocktail[liquor]">
      <option value=""></option>
      <% liquorTypes.forEach( function (liquor){ %>
        <option value="<%= liquor %>"><%= liquor %></option>
      <% }); %>
    </select>
    <input class="toggle-liquor" type="text" placeholder="add new liquor" id="liquor">

    <label for="ingredients">Ingredients</label>
    <input type="text" value="<%= entry.escape('ingredients') %>" name="cocktail[ingredients]" id="ingredients">

    <label for="bar">Bar</label>
    <a class="toggle-bar" href="javascript:void(0);">or add new</a>
    <select class="toggle-bar" name="cocktail[bar_id]">
      <option value=""></option>
      <% $.each(bars, function (barId, barName){ %>
        <option value="<%= barId %>"><%= barName %></option>
      <% }); %>
    </select>
    <input class="toggle-bar" type="text" placeholder="add new bar" id="bar_id">
    <button class="submit">Save</button>
  </form>
</div>
