<div class="left wide">
  <div class="box">
    <h1 class="header-box"><%= cocktail.escape('name') %></h1>
    <div class="image-placeholder">
      <% if(cocktail.get('img_url')){%>
        <img src="<%= cocktail.get('img_url') %>" alt="img">
      <% } %>
    </div>
    <button class="add-to-lists">want to try</button>
    <h3>at <%= cocktail.bar().name %></h3>
    <h2><%= cocktail.escape('liquor') %></h2>
    <h3>Ingredients:</h3>
    <ul>
      <% cocktail.escape('ingredients').split(',').forEach( function(el){ %>
        <li><%= el %></li>
      <% }); %>
    </ul>
  </div>

  <h1 class="header-box">My Rating</h1>
  <div class="box" id="rating-form">
  </div>

  <h1 class="header-box">Ratings</h1>
  <div id="reviews">
  </div>

</div>

<div class="rule-right"></div>

<div class="right bar">
  <%= JST['cocktails/_rSide']({bar: cocktail.bar(), similarCocktail: similarCocktail}) %>
</div>
