<div class="left wide">
  <div class="box">
    <h1 class="header-box"><%= cocktail.escape('name') %></h1>
    <div class="image-placeholder">
      <% if(cocktail.get('img_url')){%>
        <img src="<%= cocktail.get('img_url') %>" alt="img">
      <% } %>
    </div>
    <div class="user-stats">
      <% if(signedIn){ %>
        <h5>Lists</h5>
        <ul class="add-to-lists clearfix">
        <% lists.each( function (list){ %>
          <% var listsCID = list.listitems().pluck('cocktail_id') %>
            <li class="clearfix">
              <label for="list_<%= list.get('name') %>">
              <input
                type="checkbox"
                value="<%= list.get('name') %>"
                id="list_<%= list.get('name') %>"
                <%= _.contains(checkedLists, list.get('name')) ? "checked" : "" %>
              />
              <%= list.get('name') %></label>
            </li>
          <% }); %>
        </ul>
        <div class="flash"></div>
      <% } else { %>
        <p><a href="#session/new">Log in</a> to add to lists!</p>
      <% } %>
    </div>
    <h3>at <%= cocktail.bar().name %></h3>

    <h2><%= cocktail.escape('liquor') %></h2>

    <p>Average Rating: <span class="rating" id="main-rating"></span> <strong></strong>
    <span class="subtext">(<a href="#reviews"><%= cocktail.ratings().length %> vote<%= cocktail.ratings().length !== 1 ? "s" : "" %></a>)</span></p>

    <h3>Ingredients:</h3>
    <ul>
      <% cocktail.escape('ingredients').split(',').forEach( function(el){ %>
        <li><%= el %></li>
      <% }); %>
    </ul>
  </div>

  <h1 class="header-box">My Rating</h1>
  <div class="box" id="rating-form">
  </div>

  <h1 class="header-box">Ratings</h1>
  <div id="reviews">
  </div>

</div>

<div class="rule-right"></div>

<div class="right bar">
  <%= JST['cocktails/_rSide']({bar: cocktail.bar(), cId: cocktail.id, similarCocktail: similarCocktail}) %>
</div>
