<p>Don't have an account? <a href="<%= new_user_url %>">Sign up.</a></p>
<form action="<%= session_url %>" method="post">
  <%= form_auth %>
  <input type="text" value="<%= @user.email %>" placeholder="email" name="user[email]">
  <input type="password" value="<%= @user.password %>" placeholder="password" name="user[password]">
  <button class="block">Log In</button>
</form>
