<p>Don't have an account? <a href="<%= new_user_url %>">Sign up.</a></p>
<form action="<%= session_url %>" method="post">
  <%= form_auth %>
  <input type="text" value="<%= (@user.nil? || @user.username.nil?) ? "email" : @user.email %>" name="user[email]">
  <input type="password" value="<%= (@user.nil? || @user.password.nil?) ? "password" : @user.password %>" name="user[password]">
  <button>Log In</button>
</form>
