<form>
  <% if(!rating.isNew()){ %>
    <p class="form-control">
      Reviewed <strong><%= rating.escape('time') %></strong>.
      Feel free to update it below!
    </p>
  <% } %>
  <label for="rating">Rating</label>
  <div class="rating">
    <% for(var i = 1; i <= 5; i++){ %>
      <div class="rating-click-box" data-rating="<%= i %>"></div>
    <% } %>
  </div>
  <br class="clearfix">
  <label for="composition">Composition</label>
  <div class="composition">
    <input type="range" min="1" max="10" value="<%= rating.escape('scale_composition') %>">
  </div>
  <label for="spirits">Spirits</label>
  <div class="spirits">
    <input type="range" min="1" max="10" value="<%= rating.escape('scale_spirited') %>">
  </div>
  <br class="clearfix">
  <label for="body">Review</label>
  <textarea name="rating[body]" placeholder="comments (optional)"><%= rating.escape('body') %></textarea>
  <ul id="errors"></ul>
  <button class="submitRating block">submit</button>

  <% if(!rating.isNew()){ %>
    <a href="javascript: void(0);" class="subtext form-control" id="delete-rating">Delete Rating</a>
  <% } %>
</form>
