<p>Already have an account? <a href="<%= new_session_url %>">Log in.</a></p>
<form action="<%= users_url %>" method="post">
  <%= form_auth %>
  <input type="text" value="<%= @user.username %>" placeholder="username" name="user[username]">
  <input type="text" value="<%= @user.email %>" placeholder="email" name="user[email]">
  <input type="password" value="<%= @user.password %>" placeholder="password" name="user[password]">
  <button class="block">Sign Up</button>
</form>
