<div class="left wide">
  <h1>Search Results</h1>
  <input class="q" type="text">
  <% if(!_.isEmpty(resultGroups)){ %>

    <% for(group in resultGroups){ %>
      <h1><%= group %></h1>
      <% resultGroups[group].forEach( function (result){%>
        <div class="box">

          <% var type = result.get('_type') %>
          <h2>
            <% if(type==="Bar"){ %>
              <a href="#browse/bar/<%= result.id %>"><%= result.get('name')  %></a>
            <% } else if(type==="User"){ %>
              <%= result.get('username')  %>
            <% } else { %>
              <a href="#cocktails/<%= result.id %>"><%= result.get('name')  %></a>
            <% }; %>
          </h2>
          <p class="subtext">
            <% if(type==="Bar"){ %>
              <%= result.get('address') %>
            <% } else if(type==="User"){ %>
              Member since <%= result.get('created_at') %>
            <% } else { %>
              <%= result.get('ingredients') %>
            <% }; %>
          </p>
        </div>
      <% }); %>
    <% } %>
  <% } else { %>
    <h3>No results to display</h3>
  <% } %>
</div>

<div class="rule-right"></div>

<div class="right bar">
  <div class="box">
    <h1>Results</h1>
    <ul class="filter-list">
      <% for(group in resultGroups){  %>
        <li><strong><%= group %></strong> (<%= resultGroups[group].length %>)</li>
      <% }; %>
    </ul>
  </div>
</div>
