<h1><%= list.escape('name') %></h1>
<% if(listitems.length > 0){ %>
  <% listitems.forEach( function (listitem){%>
    <div class="box">
      <a href="javascript:void(0);" class="remove-item" data-listitem="<%= listitem.id %>">x</a>
      <h1 class="header-box"><a href="#cocktails/<%= listitem.get('cocktail_id') %>"><%= listitem.get('cocktail').name %></a></h1>
      <h3><%= listitem.get('cocktail').bar.name %></h3>
      <p class="subtext">Added on <%= listitem.get('time') %></p>
    </div>
  <% }); %>
<% } else { %>
  <h2>This list is empty!</h2>
<% }; %>
