<div class="box">
  <% var splitData = feedItem.get('data').split("; ") %>
  <h2><%= feedItem.escape('username') %> <%= feedItem.escape('activity') %>
    <% if(feedItem.escape('activity') === 'rated'){ %>
      <%= splitData[2] %> stars
    <% } else if(feedItem.escape('activity') === 'listed'){ %>
      in "<%= splitData[2] %>"
    <% }; %>  
  </h2>
  <h1 class="header-box"><a href="#cocktails/<%= feedItem.escape('cocktail_id') %>"><%= feedItem.escape('cocktailName') %></a>
    <% if(feedItem.get('cocktailPic') !== 'placeholder.png'){ %>
      <% if(feedItem.get('cocktailPic').indexOf('queensparkswizzle') > -1){ %>
          <img class="feed-img" src="https://s3.amazonaws.com/cocktailist-pro/cocktails/imgs/000/000/008/small/queensparkswizzle.jpg" alt="pic">
      <% } else { %>
        <img class="feed-img" src="<%= feedItem.get('cocktailPic') %>" alt="pic">
      <% }; %>
    <% } %>
  </h1>
  <h3>at <%= splitData[1] %></h3>
  <p><%= splitData[0] %></p>
  <p class="subtext">@ <%= feedItem.escape('time') %></p>
</div>
