<% feedItems.each(function (feedItem){ %>
<div class="box">
  <% var splitData = feedItem.get('data').split("; ") %>
  <h2><%= feedItem.escape('username') %> <%= feedItem.escape('activity') %>
    <% if(feedItem.escape('activity') === 'rated'){ %>
      <%= splitData[2] %> stars
    <% } %>
  </h2>
  <h1 class="header-box"><a href="#cocktails/<%= feedItem.escape('cocktail_id') %>"><%= feedItem.escape('cocktailName') %></a></h1>
  <h3>at <%= splitData[1] %></h3>
  <p><%= splitData[0] %></p>
  <p class="subtext">@ <%= feedItem.escape('time') %></p>
</div>
<% }); %>
