<!DOCTYPE html>
<html>
<head>
  <title>cocktailist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">
  <div id="header">
    <div class="container clearfix">
      <a href="/"><img src="<%= image_url("logo.png") %>" id="logo" alt="cocktailist"></a>

      <form class="search">
        <input type="text" placeholder="search" name="search[q]">
      </form>

      <div id="user-menu">
        <img src="<%= image_url("user.png") %>" alt="user menu">
        <ul>
          <li>Logged in as <%= current_user.username %></li>
          <li><a href="#">Profile</a></li>
          <li><a href="<%= delete_session_url %>">Log out</a></li>
        </ul>
      </div>

      <ul id="nav">
        <li><a href="#">Feed</a></li>
        <li><a href="#">My Lists</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Recommendations</a></li>
      </ul>
    </div>
  </div>

  <div id="content">
    <div id="js-main" class="container clearfix">

      <%= yield %>

    </div>
  </div>

  <div id="footer">
    <div class="container clearfix">
      <p>&copy; 2015 Ariel Hou</p>
      <a href="#header">top</a>
    </div>
  </div>
</div>

</body>
</html>
