<!DOCTYPE html>
<html>
<head>
  <title>cocktailist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">
  <div class="loader">Loading...</div>
  <div id="header">
    <div class="container clearfix">
      <a href="/"><img src="<%= image_url("logo.png") %>" id="logo" alt="cocktailist"></a>

      <div id="search">

      </div>

      <div id="user-menu">
        <img src="<%= image_url("user.png") %>" alt="user menu">
        <ul>

        </ul>
      </div>

      <ul id="nav">

      </ul>
    </div>
  </div>

  <div id="content">
    <div id="js-main" class="container clearfix">

      <%= yield %>

    </div>
  </div>

  <div id="footer">
    <div class="container clearfix">
      <p>Made by <a href="http://github.com/diiiefiend" target="_blank">Ariel Hou</a>.<br>
        <span class="subtext">Drink images from Yelp, vectors from The Noun Project, drink info from the respective establishments, CSS loader from Luke Hass.</span></p>
      <a href="#header" class="toplink">top</a>
    </div>
  </div>
</div>

</body>
</html>
