<!DOCTYPE html>
<html>
<head>
  <title>cocktailist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAxq9S2ObgC1yXZvo-rMVQHTTEp_yBAq4&libraries=places"></script>
  <meta name="viewport" content="width=device-width" />
</head>
<body>

<div id="main">
  <div class="loader main-loader">Loading...</div>
  <div id="header">
    <div class="container clearfix">
      <a href="/"><img src="<%= image_url("logo.png") %>" id="logo" alt="cocktailist"></a>

      <div id="search">

      </div>

      <div id="user-menu">
        <img src="<%= image_url("user.png") %>" alt="user menu">
        <ul>

        </ul>
      </div>

      <ul id="nav">

      </ul>
    </div>
  </div>

  <div id="content">
    <div id="js-main" class="container clearfix">

      <%= yield %>

    </div>
  </div>

  <div id="footer">
    <div class="container clearfix">
      <p>Made by <a href="http://github.com/diiiefiend" target="_blank">Ariel Hou</a>.<br>
        <span class="subtext">Drink images: <a href="http://yelp.com" target="_blank">Yelp</a>/myself, vector: <a href="https://thenounproject.com/" target="_blank">The Noun Project</a>, drink info: respective establishments, CSS loader: <a href="http://projects.lukehaas.me/css-loaders/" target="_blank">Luke Hass</a>.</span></p>
      <a href="javascript:void(0);" class="toplink scrollToTop">top</a>
    </div>
  </div>
</div>

</body>
</html>
